<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" type="image/jpeg" href="/b.jpeg" />
    <title>BlogSphere</title>
  </head>
  <body>
    <header><%-include ('partials/header.ejs')%></header>

    <section class="container">
      <%if(content ){%> <% for(let i = 0; i < content.data.length; i++){%>
      <div class="card">
        <img src="<%= content.data[i].urlToImage %>" alt="cover" />
        <p class="card-author"><%=content.data[i].author %></p>
        <div class="card-title">
          <h2><%=content.data[i].title %></h2>
        </div>
        <div class="desc-wrapper">
          <p class="card-desc"><%=content.data[i].description %></p>
        </div>
        <div class="card-footer">
          <p><%=content.data[i].publishedAt %></p>
          <a href="/view/<%= content.data[i].id %>">View All</a>
        </div>
      </div>
      <%}%> <%}%>
    </section>
    <%-include ('partials/footer.ejs')%>
  </body>
</html>
